/* fonts.css */

@font-face {
    font-family: 'Keffeesatz';
    src: url('./assets/YanoneKaffeesatz-Light.otf') format('opentype');
    /* Add other formats if necessary */
}

@font-face {
    font-family: 'KeffeesatzBold';
    src: url('./assets/YanoneKaffeesatz-Bold.otf') format('opentype');
    /* Add other formats if necessary */
}

.element {
    font-family: 'Keffeesatz', Arial, sans-serif;
}

.element {
    font-family: 'KeffeesatzBold', Arial, sans-serif;
}
