@font-face {
    font-family: 'Keffeesatz';
    src: url('./assets/YanoneKaffeesatz-Light.otf') format('opentype');
}

@font-face {
    font-family: 'KeffeesatzBold';
    src: url('./assets/YanoneKaffeesatz-Bold.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    font-size: 16px;
    font-family: 'Keffeesatz', Arial, sans-serif;
}

/* Common styles for navbar, regardless of theme */
nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin: 0 20px; /* Adds horizontal space between menu items */
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px; /* Increased font size */
}

header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

main {
    text-align: center;
    padding-top: 60px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.page-title, h1 {
    font-family: 'KeffeesatzBold', Arial, sans-serif;
}

.page-title {
    font-size: 36px;
    margin-bottom: 20px;
}

h1 {
    font-size: 70px;
}

.button, .notes button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin: 0 5px 5px 0; /* Added spacing */
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    transition: background-color 0.3s ease;
}

.intro img, .notes input[type="text"], .notes textarea {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.notes {
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}

.notes ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

.notes li {
    background-color: #FFFAFA;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    transition: transform 0.3s ease;
    list-style: none;
}

.notes li:hover {
    transform: translateY(-5px);
}

.notes h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.notes p {
    margin-bottom: 15px;
}

.notes .buttons {
    display: flex;
    justify-content: space-between;
}
.card {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card h2 {
    margin-top: 0;
}

.card a {
    text-decoration: none;
}

.card p {
    color: #E0E0E0;
}

/* Light Theme Styles */
.light .card {
    background-color: #FFF8E1; /* Light background color for light theme */
}

.light .card a {
    color: #3E2723; /* Darker font color for light theme */
}

.light .card p {
    color: #311B92; /* Darker text color for light theme */
}

/* Dark Theme Styles */
.dark .card {
    background-color: #37474F; /* Dark background color for dark theme */
}

.dark .card a {
    color: #E0E0E0; /* Light font color for dark theme */
}

.dark .card p {
    color: #E0E0E0; /* Light text color for dark theme */
}



/* Dark Theme Styles */
.dark {
    color: #E0E0E0; /* Light font color for dark theme */
    background-color: #121212; /* Dark background color for dark theme */
    font-family: 'Montserrat', sans-serif; /* Modern font for dark theme */
}

.dark header {
    background-color: #1E88E5; /* Dark blue header background color */
}

.dark nav ul li a, .dark a {
    color: #E0E0E0; /* Light font color for dark theme */
}

.dark nav ul li a:hover, .dark a:hover {
    color: #FF6F00; /* Highlighted font color for dark theme */
}

.dark .container {
    background-color: #263238; /* Slightly darker container background color */
}

.dark .button, .dark .notes button {
    background-color: #512DA8; /* Dark purple button color for dark theme */
}

.dark .button:hover, .dark .notes button:hover {
    background-color: #673AB7; /* Slightly lighter purple for highlighted button color */
}

.dark .notes li {
    background-color: #37474F; /* Darker background color for notes in dark theme */
    border: 1px solid #455A64; /* Border color for notes in dark theme */
}

.dark .content, .dark .notes label, .dark .notes li strong {
    color: #E0E0E0; /* Light font color for content in dark theme */
}

/* Light Theme Styles */
.light {
    color: #1E88E5; /* Fun font color for light theme */
    background-color: #FFF8E1; /* Beach vacation background color */
    font-family: 'Comic Sans MS', cursive; /* Fun font for light theme */
}

.light header {
    background-color: #FFD54F; /* Sun-like header background color */
}

.light nav ul li a, .light a {
    color: #3E2723; /* Darker font color for light theme */
}

.light nav ul li a:hover, .light a:hover {
    color: #BF360C; /* Highlighted font color for light theme */
}

.light .container {
    background-color: #FFECB3; /* Lighter container background color */
}

.light .button, .light .notes button {
    background-color: #FF6F00; /* Fun button color for light theme */
}

.light .button:hover, .light .notes button:hover {
    background-color: #FFA000; /* Highlighted button color for light theme */
}

.light .notes li {
    background-color: #FFF; /* Lighter background color for notes in light theme */
    border: 1px solid #FFB300; /* Border color for notes in light theme */
}

.light .content, .light .notes label, .light .notes li strong {
    color: #311B92; /* Darker font color for content in light theme */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .container, nav ul li a {
        padding: 10px;
    }

    header {
        padding-top: 10px;
    }

    .page-title, h1 {
        font-size: 24px;
    }

    .button, .notes button {
        padding: 10px 20px;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .notes li {
        flex-direction: column;
    }
}
