/* Buttons.css */

.buttons {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to next line on small screens */
    justify-content: center; /* Center buttons horizontally */
}

.button {
    background-color: #151719;
    color: #fff;
    text-decoration: none;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    padding: 10px;
    margin: 20px; /* Add some spacing between buttons */
}

.active {
    background-color: #f05230 !important;
}

.button:hover,
.button-active {
    background-color: #f05230;
}
