/* Home.css */

.container {
    max-width: 600px;
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
}

.intro img {
    max-width: 100%;
}

h1 {
    color: #151719;
    font-family: 'KeffeesatzBold', Arial, sans-serif;
    font-size: 70px;
}

.buttons {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to next line on small screens */
    justify-content: center; /* Center buttons horizontally */
}

.button {
    background-color: #151719;
    color: #fff;
    text-decoration: none;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    padding: 10px;
    margin: 20px; /* Add some spacing between buttons */
}

.active {
    background-color: #f05230 !important;
}

.button:hover,
.button.active {
    background-color: #f05230;
}

.notes label {
    color: #979797;
}

.notes textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(122, 192, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    resize: vertical;
}

.notes textarea:focus {
    outline: none;
    border-color: #979797;
}
